@charset "UTF-8";.form-item a,a,a:active,a:hover,a:link,a:visited {
    text-decoration: none
}

.form-item-value,.form-wrap .value-wrap,.label-value {
    word-wrap: break-word;
    word-break: break-all
}

.fixed,.fixed.bottom,.page {
    bottom: 0
}

.float-r,.search-btn {
    float: right
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,input,select {
    font: inherit
}

.page,.wraper {
    font-family: "Microsoft YaHei UI","微软雅黑","宋体";
    font-size: 12.67px
}

.page {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 40pc;
    margin: 0 auto
}

.box-wraper,.flex-box {
    width: 65%;
    margin: 0 auto
}

.page.gradient-blue {
    background: -webkit-gradient(linear,0 0,0 bottom,from(#54a4eb),to(#3bcabd))
}

.page.bg-blue {
    background: #4c97fd
}

.flex-box {
    display: -webkit-box;
    font-size: 14px
}

.box-wraper {
    font-size: 14px
}

.content {
    width: 95%;
    margin: 0 auto
}

.empty-content {
    width: 100%;
    display: table;
    height: 100%;
    margin-top: 4.6875rem
}

.empty-content .empty-inner {
    width: 75pt;
    margin: 0 auto
}

.empty-content .empty-inner img {
    width: 100%
}

.empty-content .empty-info {
    text-align: center;
    margin-top: 15px
}

.form-item-value.right,.form-line {
    text-align: right
}

.empty-content .empty-action {
    margin: 30px auto 0
}

.list-wrap {
    background: #f6fafc;
    padding: 0 .4375rem;
    font-size: 14px
}

.list-wrap .list-item {
    display: -webkit-box;
    line-height: 1.03125rem;
    border-bottom: 1px solid #dce2e5
}

.list-wrap .list-item:last-child {
    border-bottom: none
}

.form-wrap {
    padding: 0 .34375rem
}

.form-wrap .key-wrap {
    color: #646464;
    font-size: .40625rem;
    -webkit-box-flex: 1;
    display: inline-block
}

.form-wrap .value-wrap {
    -webkit-box-flex: 1;
    display: block;
    text-align: right;
    font-size: 13px;
    color: #999
}

.section-hide {
    background: #fff;
    display: none
}

.section-hide.active {
    display: block
}

.sheader {
    height: .96875rem;
    line-height: .96875rem;
    color: #8f8f8f;
    font-size: .375rem;
    border-left: .125rem solid #55a2ee;
    border-bottom: 1px solid #dce2e5;
    padding-left: .28125rem
}

.form-item,.form-line {
    line-height: .46875rem
}

.form-item-line {
    background: url(../../asset/img/img-line.png) left bottom no-repeat;
    background-size: 100%
}

.form-item-noline {
    background: 0 0
}

.label-text {
    margin-left: .11rem
}

.common-title,.section.mg-left {
    margin-left: .34375rem
}

.vertical-wraper {
    display: table
}

.vertical-wraper>span {
    display: table-cell;
    vertical-align: middle
}

.curve-box {
    border-radius: 5px;
    margin-top: .34375rem;
    background: #fff;
    position: relative
}

.curve-box .curve-box-bg {
    background: #5290e7;
    height: .20313rem;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px
}

.curve-box .curve-box-bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: .20313rem;
    display: block;
    height: 10px;
    width: 100%;
    background: url(../../asset/img/curve.png) repeat-x;
    background-size: 5%
}

.form-item,.top-box {
    position: relative
}

.flexbox,.form-item {
    display: -webkit-box
}

.curve-box .curve-content {
    padding: .34375rem
}

.top-box .top-box-inner {
    background: #55a2ee;
    width: 100%;
    color: #fff;
    font-size: .375rem;
    box-sizing: border-box;
    position: relative;
    padding: .34375rem
}

.form-item {
    padding: .46875rem 0;
    background: url(../../asset/img/img-line.png) left bottom no-repeat;
    background-size: 100% 1px
}

.form-item:last-child {
    background-image: none
}

.form-item a {
    display: block;
    width: 100%
}

.form-item.nopadding {
    padding-bottom: 0
}

.form-line {
    padding: .46875rem 0;
    margin-bottom: .40625rem
}

.form-item-display {
    color: #646464;
    font-size: .375rem;
    -webkit-box-flex: 1
}

.form-item-display svg {
    width: .5rem;
    vertical-align: -.04688rem
}

.form-item-value {
    -webkit-box-flex: 1;
    display: block;
    font-size: 13px;
    color: #999
}

.flex,.label {
    -webkit-box-flex: 1
}

.fixed {
    position: fixed
}

.wraper {
    padding: 0 .34375rem
}

.form-panel-wraper {
    background: #fff;
    padding-bottom: .32813rem
}

.form-panel {
    text-align: left;
    background: #eaeff2;
    padding: 0;
    position: relative
}

.form-panel:before {
    content: "";
    border-width: 11px;
    border-style: dotted dotted solid;
    border-color: transparent transparent #eaeff2;
    position: absolute;
    top: -22px;
    right: 40px
}

.form-panel .form-panel-item {
    padding: .23438rem 1.09375rem;
    font-size: .375rem;
    color: #999;
    line-height: 20px
}

.form-panel .form-panel-item.active {
    background: #e4e8ea;
    color: #f05c48
}

.section {
    background-color: #fff;
    margin-bottom: .34375rem;
    border-bottom: 1px solid #e0e0e0
}

.section:last-child {
    margin-bottom: 0
}

.section.nomargin {
    margin-top: 0
}

.section .title {
    border-left: .17188rem solid #55a2ee;
    border-bottom: 1px solid #dcdcdc;
    font-size: .375rem;
    color: #313131;
    padding: .34375rem .3125rem
}

.section .title span {
    float: right;
    color: #999;
    font-size: .375rem
}

.common-title {
    border-bottom: #e0e0e0 1px solid;
    line-height: .82813rem;
    padding-right: .34375rem;
    display: -webkit-box;
    font-size: .34375rem;
    color: #8f8f8f
}

.arrows,.flex {
    display: block
}

@font-face {
    font-family: nnicon;
    src: url(../../asset/font/nnicon.eot);
    src: url(../../asset/font/nnicon.eot?#iefix) format("eot"),url(../../asset/font/nnicon.woff) format("woff"),url(../../asset/font/nnicon.ttf) format("truetype"),url(../../asset/font/nnicon.svg#nnicon) format("svg")
}

.bg-yellow {
    background: #fcf0c3
}

.bg-gray {
    background: #f3f3f4
}

.bg-white {
    background: #fff
}

.bg-blue {
    background: #3bcabd
}

.img-line {
    background: url(../../asset/img/cashVoucher/img-line.png) bottom center no-repeat;
    background-size: 100%
}

.flex.before {
    margin-right: 10px
}

.t-red {
    color: #e02243
}

.t-gray {
    color: #999
}

.t-blue {
    color: #55a2ee
}

.t-white {
    color: #fff
}

.t-black {
    color: #646464
}

.t-yellow {
    color: #fef973
}

.t-underline {
    text-decoration: underline
}

.t-bold {
    font-weight: 700
}

.t-normal {
    font-size: 12.67px
}

.t-normal1 {
    font-size: 13.67px
}

.t-normal2 {
    font-size: 14.67px
}

.t-normal3 {
    font-size: 15.67px
}

.t-medium {
    font-size: 1pc
}

.t-large,.t-larger {
    font-size: 20px
}

.t-largest {
    font-size: 28px
}

.t-huge {
    font-size: 2pc
}

.t-huger {
    font-size: 36px
}

.t-hugest {
    font-size: 40px
}

.t-through {
    text-decoration: line-through
}

.arrows {
    width: .1875rem;
    height: .1875rem;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.13258rem;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.arrows.active {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.arrows.right {
    border-bottom: 2px solid #9b9b9b;
    border-left: 2px solid #9b9b9b;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.arrows.down {
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9
}

.arrows.up {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.checkbox>label:before {
    content: ""
}

.checkbox>label b {
    font-weight: 400;
    display: inherit
}

.checkbox input[type=radio],.checkbox input[type=checkbox] {
    display: none
}

.checkbox .checkbox-label {
    position: relative;
    display: block
}

.checkbox .radio-label {
    position: relative;
    color: #999
}

.checkbox .regular-radio:checked+label {
    color: #171719
}

.checkbox .regular-radio:checked+label:before {
    content: "";
    color: #56c350
}

.nocheckbox .radio-label {
    position: relative;
    color: #171719
}

.nocheckbox b {
    font-weight: 400;
    line-height: 1pc;
    display: inherit
}

.label {
    color: #646464;
    font-size: 14px;
    display: inline-block
}

.icon,.label svg {
    width: .5rem;
    vertical-align: -.04688rem
}

.label-value {
    -webkit-box-flex: 1;
    display: block;
    margin-right: 15px;
    text-align: right;
    font-size: 14px;
    color: #999;
    border: none
}

.city-list li,.table-cell {
    text-align: center
}

.label-value:empty::before {
    content: attr(data-placeholder);
    color: #999;
    display: inline-block
}

.common-select {
    -webkit-appearance: button;
    border: none;
    color: #999;
    font: inherit;
    outline: 0;
    background: #fff;
    overflow: hidden;
    width: 100%
}

.button,.search-btn,.status {
    font-size: .375rem
}

.fixed {
    width: 100%
}

.status {
    position: absolute;
    background: #f0ad4e;
    height: 24px;
    line-height: 24px;
    color: #fff;
    display: block;
    z-index: 1;
    padding: 0 15px;
    top: 10px;
    right: 0
}

.status:before {
    position: absolute;
    content: '';
    top: 0;
    left: -26px;
    display: block;
    border-style: dashed solid dashed dashed;
    border-width: 9pt 13px;
    border-color: transparent #f0ad4e transparent transparent
}

.page-step {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    -webkit-transform: translate3d(100%,0,0);
    -webkit-transition: all .3s
}

.icon-arrow,.icon-loading,.icon-triangle:before {
    top: 50%;
    position: absolute
}

.page-step.active {
    display: block;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.clear {
    min-height: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    clear: both
}

.table {
    display: table
}

.flexitem,.table-cell {
    vertical-align: middle;
    display: table-cell
}

.flexitem {
    -webkit-box-flex: 1;
    width: 100%
}

.common-list {
    padding: .40625rem .34375rem
}

.common-list.disable {
    color: red
}

.common-item {
    margin-top: .60938rem;
    background: #fff;
    position: relative;
    background-size: 100%;
    border-radius: 5px;
    padding: .3125rem .3125rem 0
}

.search-btn {
    position: relative;
    background: #ff3f61;
    color: #fff;
    border: 0;
    height: .96875rem;
    overflow: hidden;
    outline: 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-flex: 1
}

.search-btn.disable {
    background: #bfbfbf
}

.city-list li {
    display: inline-block;
    display: block;
    background: #eaeff2;
    float: left;
    width: 30%;
    margin-bottom: 15px;
    margin-right: 5%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px
}

.city-list li:last-child,.city-list li:nth-child(3n+0) {
    margin-right: 0
}

.city-list li.active {
    background: #55a2ee
}

.city-list li.active a {
    color: #fff
}

.city-list li a {
    text-decoration: none;
    color: #7f7f7f
}

.top-tip {
    margin-bottom: 10px;
    color: #f05c48;
    display: none
}

.top-tip.active {
    display: block
}

.empty-img {
    background: url(../../asset/img/empty.png);
    background-size: 100%;
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0 auto
}

.empty-info {
    margin: .625rem .34375rem
}

.img-line {
    padding-bottom: .11rem
}

.img-line.gray {
    background: url(../../asset/img/img-line.png) left bottom no-repeat;
    background-size: 100%
}

.img-line.white {
    background: url(../../asset/img/report-item-line.png) left bottom no-repeat;
    background-size: 100%
}

.profile {
    width: 1.64063rem;
    height: 1.64063rem;
    border-radius: 1.64063rem
}

.text-wraper {
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    width: 100%;
    height: .35rem;
    margin-right: 10px;
    position: relative
}

.flat-text {
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    outline: 0;
    border: none;
    text-align: left;
    line-height: 1.64063rem;
    line-height: normal;
    left: 0
}

.flat-textarea {
    line-height: normal;
    text-align: left
}

.button,.flat-btn {
    height: 1.03125rem;
    line-height: 1.03125rem
}

.text-align-right {
    text-align: right
}

.action-panel {
    display: -webkit-box;
    margin: 0 auto 10px;
    width: 90%
}

.flat-btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 1px .1rem;
    -webkit-box-flex: 1;
    background: #55a2ee;
    display: block;
    margin-right: 10px
}

.flat-btn:last-child {
    margin-right: 0
}

.flat-btn.medium {
    width: 1.9rem
}

.flat-btn.small {
    width: 1.2rem
}

.flat-btn.large {
    width: 2rem
}

.flat-btn.green {
    background: #22ac38
}

.flat-btn.yellow {
    background: #ffff9a;
    color: #f5430c
}

.flat-btn.orange {
    background: #f0ad4e
}

.flat-btn.border {
    background: 0 0;
    border: 1px solid #858585;
    color: #858585
}

.flat-btn.bold {
    font-weight: 700
}

.flat-btn.align-center {
    margin: 0 auto;
    text-align: center
}

.flat-btn.disable {
    background: #ddd;
    color: #999
}

.button {
    padding: 0 .75rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    -webkit-box-flex: 1
}

.button.small {
    font-size: .34375rem;
    padding: 0 .29688rem;
    height: .71875rem;
    line-height: .71875rem
}

.button.blue {
    background: #55a2ee
}

.button.blue:active {
    background: #4b91d6
}

.button.red,.button.red:active {
    background: #ff3f61
}

.button.red2 {
    background: #c80000
}

.button.red2:active {
    background: #ae0606
}

.button.green,.button.green:active {
    background: #2cdaa4
}

.button.disable {
    background: #bfbfbf
}

.button.circle {
    border-radius: .875rem
}

.button.rectangle {
    border-radius: 5px
}

.button.line {
    border: 1px solid #55a2ee
}

.button.line.blue {
    border-color: #55a2ee;
    background: 0 0;
    color: #55a2ee
}

.button.line.red {
    border-color: #ff3f61;
    background: 0 0;
    color: #ff3f61
}

.button.line.gray {
    border-color: #646464;
    background: 0 0;
    color: #646464
}

.icon-color-arrow,.icon-free {
    color: #fff;
    font-style: normal;
    text-align: center
}

.button.btn-status {
    padding: 0 .15625rem
}

@font-face {
    font-family: nnicon;
    src: url(../../asset/font/nnicon.eot);
    src: url(../../asset/font/nnicon.eot?#iefix) format("eot"),url(../../asset/font/nnicon.woff) format("woff"),url(../../asset/font/nnicon.ttf) format("truetype"),url(../../asset/font/nnicon.svg#nnicon) format("svg")
}

.checkbox .regular-radio:checked+label:before,.checkbox>label:before,.icon-badge:before,.icon-benefit:before,.icon-benefito:before,.icon-car:before,.icon-card:before,.icon-checked:before,.icon-checkmark:before,.icon-clipboard:before,.icon-code:before,.icon-correct:before,.icon-coupon2:before,.icon-coupon:before,.icon-cross:before,.icon-edit2:before,.icon-edit:before,.icon-file-text:before,.icon-file:before,.icon-img:before,.icon-inquiry:before,.icon-inquiryo:before,.icon-list:before,.icon-location:before,.icon-message:before,.icon-mobile:before,.icon-money:before,.icon-my:before,.icon-myo:before,.icon-navigation:before,.icon-nochecked:before,.icon-omit:before,.icon-openfolder:before,.icon-order:before,.icon-ordero:before,.icon-packge:before,.icon-phone2:before,.icon-phone:before,.icon-plate:before,.icon-position2:before,.icon-position:before,.icon-supporting:before,.icon-thin-code:before,.icon-thin-eye:before,.icon-thin-mobile:before,.icon-thin-password:before,.icon-ticket:before,.icon-time:before,.icon-user:before,.icon-warn:before,.icon-wrench:before {
    font-family: nnicon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    vertical-align: -5px
}

.icon-badge:before {
    content: ""
}

.icon-benefit:before {
    content: ""
}

.icon-benefito:before {
    content: ""
}

.icon-car:before {
    content: ""
}

.icon-card:before {
    content: ""
}

.icon-checked:before {
    content: ""
}

.icon-checkmark:before {
    content: ""
}

.icon-clipboard:before {
    content: ""
}

.icon-code:before {
    content: ""
}

.icon-correct:before {
    content: ""
}

.icon-coupon:before {
    content: ""
}

.icon-coupon2:before {
    content: ""
}

.icon-cross:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-edit2:before {
    content: ""
}

.icon-file-text:before {
    content: ""
}

.icon-file:before {
    content: ""
}

.icon-img:before {
    content: ""
}

.icon-inquiry:before {
    content: ""
}

.icon-inquiryo:before {
    content: ""
}

.icon-list:before {
    content: ""
}

.icon-location:before {
    content: ""
}

.icon-message:before {
    content: ""
}

.icon-mobile:before {
    content: ""
}

.icon-money:before {
    content: ""
}

.icon-my:before {
    content: ""
}

.icon-myo:before {
    content: ""
}

.icon-navigation:before {
    content: ""
}

.icon-nochecked:before {
    content: ""
}

.icon-omit:before {
    content: ""
}

.icon-openfolder:before {
    content: ""
}

.icon-order:before {
    content: ""
}

.icon-ordero:before {
    content: ""
}

.icon-packge:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-phone2:before {
    content: ""
}

.icon-plate:before {
    content: ""
}

.icon-position:before {
    content: ""
}

.icon-position2:before {
    content: ""
}

.icon-supporting:before {
    content: ""
}

.icon-thin-code:before {
    content: ""
}

.icon-thin-eye:before {
    content: ""
}

.icon-thin-mobile:before {
    content: ""
}

.icon-thin-password:before {
    content: ""
}

.icon-ticket:before {
    content: ""
}

.icon-time:before {
    content: ""
}

.icon-user:before {
    content: ""
}

.icon-warn:before {
    content: ""
}

.icon-wrench:before {
    content: ""
}

.icon-triangle {
    display: inline-block
}

.icon-triangle:before {
    content: "";
    border-width: 0 .14063rem .17188rem;
    border-style: solid;
    margin-top: -.08594rem
}

.icon-triangle.up.blue:before,.icon-triangle.up:before {
    border-color: transparent transparent #5290e7
}

.icon-triangle.down.before {
    border-color: #5290e7 transparent transparent
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.icon-loading {
    width: 2pc;
    height: 2pc;
    margin-top: -1pc;
    right: -10px;
    background: linear-gradient(to top,transparent,transparent);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite
}

.icon-loading:after {
    content: '';
    width: 3px;
    height: 3px;
    margin: 14.5px 0 0 14.5px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px #D8D6D6,10px 0 #D8D6D6,0 10px #D8D6D6,-10px 0 #D8D6D6,-7px -7px 0 .5px #D8D6D6,7px -7px 0 1.5px #D8D6D6,7px 7px #D8D6D6,-7px 7px #D8D6D6;
    position: absolute
}

.icon-arrow {
    width: .1875rem;
    height: .1875rem;
    display: block;
    border-left: 2px solid #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
    right: 0;
    margin-top: -.13258rem;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.icon-arrow.left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon-arrow.right {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.icon-arrow.down {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.icon-arrow.top {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.icon-arrow.white {
    border-left-color: #fff;
    border-bottom-color: #fff
}

.icon-arrow.gray {
    border-left-color: #9b9b9b;
    border-bottom-color: #9b9b9b
}

.icon-color-arrow {
    width: .35938rem;
    height: .35938rem;
    border-radius: 3px;
    display: inline-block;
    line-height: .35938rem;
    position: relative
}

.icon-color-arrow:before {
    content: '';
    width: .125rem;
    height: .125rem;
    display: block;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.07813rem;
    margin-left: .0625rem;
    -webkit-transform: rotate(-134deg);
    transform: rotate(-134deg)
}

.icon-color-arrow.blue {
    background: #55a2ee
}

.icon-free {
    border-left: 2px solid #007f79;
    width: 9pt;
    height: 1pc;
    background: #009e96;
    display: inline-block;
    font-size: .28125rem;
    position: relative;
    margin-right: .34375rem;
    vertical-align: middle
}

.icon-free:before {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: dotted dotted dotted solid;
    border-color: transparent transparent transparent #009e96;
    right: -1pc;
    top: 0
}

.icon-free:after {
    content: "赠";
    font-size: .17188rem;
    line-height: 1pc;
    position: absolute;
    left: 0
}

.voice-panel {
    background: #eaeff2;
    width: 100%;
    margin: 15px auto;
    position: relative;
    text-align: center;
    display: none
}

.voice-panel.active {
    display: block
}

.voice-panel:before {
    width: 10px;
    height: 10px;
    border-left: 1px solid #eaeff3;
    border-top: 1px solid #eaeff3;
    content: " ";
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 3pc;
    background: #eaeff2
}

.voice-tip {
    position: relative;
    background: url(../../asset/img/img-line.png) left bottom no-repeat;
    background-size: 100%;
    height: 1.375rem;
    line-height: 1.375rem;
    font-size: .3125rem;
    color: #999
}

.voice-tip a {
    color: #5290e7
}

.voice-button {
    margin: 10px auto;
    padding-bottom: 10px
}

.sms-panel {
    text-align: right
}

.sms-panel .button {
    margin-right: .34375rem
}
