
.second-nav-container {
    border-bottom: 2px solid #019875; padding: 0px; margin: 0px;
}



.second-nav-container .second-nav-tab {
    display: inline-block; *display: inline; zoom: 1;
    width: 150px; margin: 0px 0px 0px 10px; text-align: center; height: 40px; line-height: 40px;

}

.second-nav-container .second-current-tab {
    
    background: #019875;
}

.second-nav-container .second-nav-tab a {
    font-size: 18px; color: #666;
}
.second-nav-container .second-nav-tab a:hover {
    color: #019875;
}

.second-nav-container .second-current-tab a {
    color: #ffffff;
}
.second-nav-container .second-current-tab a:hover {
    color: #ffffff;
}


