<head>
	#parse("common/base.vm")
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="$URL/asset/css/mission/list.css?v=11">
	<link rel="stylesheet" href="$URL/asset/css/ui.css?v=11">
	<title>$TITLE</title>
	<script>
		(function (doc, win) {
		    var docEl = doc.documentElement,
		        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
		        recalc = function () {
		            var clientWidth = docEl.clientWidth;
		            if (!clientWidth) return;
		            docEl.style.fontSize = 100 * (clientWidth / 320) + 'px';
		        };
		 
		    // Abort if browser does not support addEventListener
		    if (!doc.addEventListener) return;
		    win.addEventListener(resizeEvt, recalc, false);
		    recalc();
		    //doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
    </script>
</head>
<body class="bg-gray">
	<input type="hidden" id="pageNo" value="$!{pageNo}" />
	<div class="wraper">
		<div class="rate-header">
			<span class="rate-total" id="totalCount">
				共有$!{count}个待接手任务
			</span>
			<span class="rate-star">
				<span id="rate-star"></span>
			</span>
			<div class="rate-timeline" id="avgScore" data-score="$!{page.extendAvgScore}">
			</div>
		</div>
		<div class="rate-lists">
			<input type="hidden" name="pageNo" id="pageNo" value="$!{page.pageNo}"/>
			<input type="hidden" name="pageNumber" id="pageNumber" value="$!{page.totalPages}"/>
			<ul id="comment-content">
				<li class="rate-item">
            		<div class="rate-profile rate-middle">
            			<img src="$URL/asset/img/user1.png">
            			<p class="rate-cus-name"></p>
            		</div>
            		<div class="rate-content">
            			<div class="rate-content-info">
            				<div class="rate-text">
            					<a href='javascript:void(0)' class='tag1'>￥0.3</a>&nbsp;<a href='javascript:void(0)' class='tag2'>余143</a>
								<span>扫码试玩，须苹果手机首次关注下载，安卓手机勿安卓手机勿扰……<span>
            				</div>
            			</div>
            			<div class="rate-engineer">
                            <a href='javascript:void(0)' class='button'>接手</a>
            				<p class="rate-engineer-name">
            					
            				</p>
            			</div>
            		</div>
            	</li>
				<li class="rate-item">
            		<div class="rate-profile rate-middle">
            			<img src="$URL/asset/img/user1.png">
            			<p class="rate-cus-name"></p>
            		</div>
            		<div class="rate-content">
            			<div class="rate-content-info">
            				<div class="rate-text">
            					<a href='javascript:void(0)' class='tag1'>￥0.3</a>&nbsp;<a href='javascript:void(0)' class='tag2'>余143</a>
								<span>扫码试玩，须苹果手机首次关注下载，安卓手机勿安卓手机勿扰……<span>
            				</div>
            			</div>
            			<div class="rate-engineer">
                            <a href='javascript:void(0)' class='button'>接手</a>
            				<p class="rate-engineer-name">
            					
            				</p>
            			</div>
            		</div>
            	</li>
				<li class="rate-item">
            		<div class="rate-profile rate-middle">
            			<img src="$URL/asset/img/user1.png">
            			<p class="rate-cus-name"></p>
            		</div>
            		<div class="rate-content">
            			<div class="rate-content-info">
            				<div class="rate-text">
            					<a href='javascript:void(0)' class='tag1'>￥0.3</a>&nbsp;<a href='javascript:void(0)' class='tag2'>余143</a>
								<span>扫码试玩，须苹果手机首次关注下载，安卓手机勿安卓手机勿扰……<span>
            				</div>
            			</div>
            			<div class="rate-engineer">
                            <a href='javascript:void(0)' class='button'>接手</a>
            				<p class="rate-engineer-name">
            					
            				</p>
            			</div>
            		</div>
            	</li>
			</ul>
			<div class="rate-timeline rata-timeline-full">
			</div>
		</div>
		<div class="loading">
			正在加载更多...
		</div>
	</div>
	#parse("common/tab.vm")
	<script type="text/html" id="comment-item">
	<li class="rate-item">
		<div class="rate-profile rate-middle">
			<img src="$URL/asset/img/user1.png">
			<p class="rate-cus-name"></p>
		</div>
		<div class="rate-content">
			<div class="rate-content-top">
				<span>车主：NAME</span>
				<span class="rate-time">
					CREATETIME
				</span>
			</div>
			<div class="rate-content-info">
				<div class="rate-order-type">
					BRANDNAME
				</div>
				<div class="rate-star-wraper" data-score="SCORE">
					
				</div>
				<div class="rate-text">
					COMMENT
				</div>
			</div>
			<div class="rate-engineer">
				<div class="rate-profile">
					<img src="$URL/asset/img/user1.png">
				</div>
				<p class="rate-engineer-name">
					技师：MECHANICNAME
				</p>
				#*<p class="rate-engineer-name">
					助手：王彬
				</p>*#
			</div>
		</div>
	</li>
    </script>
	<script type="text/javascript" src="$URL/asset/js/mission/mission.js">
</body>
