<!DOCTYPE html>
<html lang="en">
<head>
	#parse("common/base.vm")
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>个人中心</title>
	<script type="text/javascript" src="$URL/asset/js/flexible.min.js"></script>
	<link rel="stylesheet" href="$URL/asset/css/ui.css">
	<link rel="stylesheet" href="$URL/asset/css/user.css">
	<link rel="stylesheet" href="$URL/asset/css/lib.css">
</head>
<body>
	<div id="content">
		#* 会员信息区域 *#
		<div class="m-user-wrap">
			<div class="m-user">
				<div class="m-profile-wrap">
					<div class="m-avatar">
						<img src="$URL/asset/img/member/profile.jpg"/>
					</div>
					<div class="m-profile">
						<p class="m-profile-name">
							LongLongAgo
						</p>
						<!--<p class="m-profile-phone">
							$!{username}
						</p>-->
					</div>
				</div>
				#if($!{userQrCode})
				<div class="m-profile-qrcode">
					<img src="$!toolUtil.fillImgUrl($!{userQrCode})" onclick="$(this).ImgZoomIn();">
				</div>
				#end
				<div class="m-user-money">
					<div class="form-item" onclick="location.href='$URL/rp/myRP'">
						<label class="label">
							
						</label>
						<span class="label-value">
							<span class="m-user-money-label">
								当前账户金额：
							</span>
							￥0
						</span>
						<i class="icon-arrow right"></i>
					</div>
				</div>
			</div>
		</div>

		#* 卡包优惠券 *#
		<div class="section m-card">
			<div class="form-wrap">
				<div class="form-item">
					<a href="$URL/mission/sendMission">
					<label class="label">
						<i class="icon-edit"></i>
						发布任务
					</label>
					<i class="icon-arrow right"></i>
					</a>
				</div>
			</div>
		</div>

		#* 订单 *#
		<div class="section">
			<div class="form-wrap">
				#*<div class="form-item">
					<a href="$URL/repair/appointmentList">
					<label class="label">
						<i class="icon-time"></i>
						我的预约
					</label>
					<i class="icon-arrow right"></i>
					</a>
				</div>*#
				<div class="form-item">
					<a href="$URL/user/sendMissionHistory">
					<label class="label">
						<i class="icon-list"></i>
						我发布的任务
					</label>
					<i class="icon-arrow right"></i>
					</a>
				</div>
			</div>
		</div>
		#* 检测报告与车库信息 *#
		<div class="section">
			<div class="form-wrap" >
				<!--<div class="form-item">
					<label class="label">
						<i class="icon-car"></i>
						我的车库
					</label>
					<span class="label-value order-city" id="cityLi">
					</span>
					<i class="icon-arrow right"></i>
				</div>-->
				<div class="form-item">
					<a href="$URL/user/receivedMissionHistory">
					<label class="label">
						<i class="icon-ticket"></i>
						我接手的任务
					</label>
					<i class="icon-arrow right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	#parse("common/tab.vm")
</body>
</html>